body{
    background: #000;
    margin: 0;padding: 0;
    color: #fff;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftBar{
    border: #fff 1px solid;
    background: #000;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.buttonElement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    border-radius: 20px;
}

.buttonElement:hover{
    background: #242323;
}
.buttonElement label{
    margin: 10px;
    font-size: 18px;
}
.buttonClass img{
    width: 50px;
}

.centre{
    border: #fff 1px solid;
    background: #000;
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightBar{
    border: #fff 1px solid;
    background: #000;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.post-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.post-button img {
    width: 75px; 
    height: auto;
    display: block;
}

.post-button:hover {
    transform: translateX(-50%) scale(1.05);
}